<header>
    <section id="fixed-to-top">
        <%- include('../partials/_navbar') %>
    </section>
    <section class="clear-both non-home-body-top-sec" id="page-heading-sec">
        <h1 id="page-heading">Refreshment</h1>
    </section>
</header>
<section class="refreshment-container">
    <img src="./imgs/refreshment/why_do_we_research.png" alt="Why do we research?">
    <div>
        <h3>We believe</h3>

        <ol>
            <% data.we_believe.forEach( thing=> { %>
                <li>
                    <%= thing.point %>
                </li>
                <% }) %>
        </ol>
    </div>
</section>
<section>

    <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <% var i=0 %>
                <% data.fun_imgs.forEach( img=> { %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>"
                        class="carousel-indicator-btns" aria-current="true" aria-label="Slide <%= i %>"></button>
                    <% i++ %>
                        <% }) %>
        </div>
        <div class="carousel-inner">
            <% data.fun_imgs.forEach( img=> { %>
                <div class="carousel-item a-random-var">
                    <img src="./imgs/refreshment/fun/<%= img.img_url %>" class="fun-img"
                        alt="Fun Img <%= img.img_id %>">
                </div>
                <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="refreshment-container">
    <% data.videos.forEach( vid=> { %>
        <video src="./imgs/refreshment/<%= vid.vid_url %>" controls>Video Not Supported</video>
        <% }) %>
</section>
<script>
    const firstSlide = document.getElementsByClassName('a-random-var')[0]
    firstSlide.className += " active"

    const firstBtn = document.getElementsByClassName('carousel-indicator-btns')[0]
    firstBtn.className += " active"
</script>
<style>
    .carousel-inner {
        width: 100%;
    }

    .fun-img {
        display: block;
        width: 50% !important;
        max-height: 500px;
        padding: 50px;
        margin: auto;
    }

    .carousel-item .active {
        background-color: white !important;
    }

    .carousel-caption h5 {
        width: 70%;
        padding: 10px;
        margin: auto;
        color: black;
        font-size: 2em;
        background-color: lightblue;
        outline: solid black 2px;
    }
</style>