<header>
    <section id="fixed-to-top">
        <%- include('../partials/_navbar') %> 
    </section>
</header>

<section class="clear-both non-home-body-top-sec">
    <h1 id="page-heading">Group Members</h1>
</section>

<section class="members-nav" id="members-nav">
    <div class="members-nav-option" id="show-team" onclick="toggleMemberNav(this)">
        Team
        <div class="div-menu" id="menu-team">
            <div id="bar1" class="bar"></div>
            <div class="bar" id="bar2"></div>
            <div id="bar3" class="bar"></div>
        </div>
    </div>
    <div class="members-nav-option" id="show-alumni" onclick="toggleMemberNav(this)">
        Alumni
        <div class="div-menu" id="menu-alumni">
            <div id="bar1" class="bar"></div>
            <div class="bar" id="bar2"></div>
            <div id="bar3" class="bar"></div>
        </div>
    </div>
</section>

<section class="for-gap" id="for-gap">
    <!-- This section is created just to provide empty space on this page after the members nav, for smooth transition -->
</section>

<section class="hide-members members-tab" id="team-sec">
    <h2 id="Team" class="subpage-heading">Team</h2>
    <div class="shibayan-sir">
        <img src="./imgs/group_members/team_members/<%= data.shibayan_sir.img_url %> " alt="Shibayan Sir">
        <div>
            <hr>
            <h3>
                <%= data.shibayan_sir.name%>
            </h3>
            <hr>
            <article>
                <h5>
                    <%= data.shibayan_sir.role %>
                </h5>
                <p>
                    <%= data.shibayan_sir.para_content %>
                </p>
            </article>
            <!-- Links -->
            <div class="shibayan-sir-links">
                <a href="<%= data.shibayan_sir.links.home_website %>" target="_blank">Home Website</a>
                <a href="<%= data.shibayan_sir.links.researcher_id %>" target="_blank">Researcher ID</a>
                <a href="<%= data.shibayan_sir.links.google_scholar %>" target="_blank">Google Scholar</a>
                <a href="mailto:<%= data.shibayan_sir.links.email %>" target="_blank">Email</a>
            </div>
        </div>
    </div>
    <div class="all-team">

        <% data.team_members.forEach( member=> { %>
            <div>

                <figure>
                    <img src="./imgs/group_members/team_members/<%= member.img_url %>" alt="<%= member.name %>">
                    <figcaption>
                        <a href="<%= member.cv_link %>" target="_blank" class="cv_link">
                            <abbr title="CV">
                                <%= member.name %>
                                    <br>
                                    <span style="font-size: 0.8em;"> <strong>[ <%= member.role %> ]</strong> </span>
                            </abbr>
                        </a>
                    </figcaption>
                </figure>

            </div>
            <% }) %>
                <hr class="clear-both invisible">
    </div>
    <div id="team-interns">
        <hr class="clear-both">
        <h3>Interns</h3>
        <hr>
        <ul>
            <% data.team_interns.forEach( intern=> { %>

                <li>
                    <%= intern.details %>
                </li>

                <% }) %>

        </ul>
    </div>
</section>
<section class="hide-members members-tab" id="alumni-sec">
    <h2 id="Alumni" class="subpage-heading">Alumni</h2>
    <div>
        <% data.alumni.forEach( alumni=> { %>

            <div class="individual-profile">
                <img src="./imgs/group_members/alumni/<%= alumni.img_url %>" alt="<%= alumni.name %>">
                <article>
                    <h3>
                        <%= alumni.name %>
                    </h3>
                    <p>
                    <ul>
                        <% alumni.details.forEach( detail=> { %>
                            <li>
                                <%= detail.point %>
                            </li>
                            <% }) %>
                    </ul>
                    </p>
                </article>
                <a href="mailto:<%= alumni.email %>">Contact</a>
            </div>

            <% }) %>

    </div>
    <div id="alumni-interns">
        <hr>
        <h3>Intern Alumni</h3>
        <hr>
        <ul>
            <% data.alumni_interns.forEach( intern=> { %>
                <li>
                    <%= intern.details %>
                </li>
                <% }) %>
        </ul>
    </div>
</section>