<h2>Contact Form Data</h2>

<form method="POST" action="/admin/logout?_method=DELETE">
    <button type="submit">Log Out</button>
</form>

<table>
    <th>
        <td>Name</td>
        <td>Email</td>
        <td>Subject</td>
        <td>Message</td>
    </th>
    <% data.forEach( (entry, i=1) => { %>
        <tr>
            <td>
                <%= i %> 
                <% i++ %> 
            </td>
            <td>
                <%= entry.name %>
            </td>
            <td>
                <%= entry.email %>
            </td>
            <td>
                <%= entry.subject %> 
            </td>
            <td>
                <%= entry.message %> 
            </td>
        </tr>
    <% }) %> 
</table>