<header>
    <section id="fixed-to-top">
        <%- include('../partials/_navbar') %>
    </section>
    <section class="clear-both non-home-body-top-sec" id="page-heading-sec">
        <h1 id="page-heading">Research</h1>
    </section>
    <section class="body-sec" id="research-top-sec">
        <hr class="heading-hr hr-top">
        <h2>
            <%= data.intro.title %>
        </h2>
        <hr class="heading-hr hr-btm">
        <p>
            <%= data.intro.para_content %>
        </p>
    </section>
</header>
<section class="research-container">
    <section class="breadcrumb-research">
        <section class="research-mainpage">
            <div class="research-div hide-this">
                <h3 class="subpage-heading">Research Interests</h3>
                <ul>
                    <% data.intro.research_interests.forEach( interest=> { %>
                        <li>
                            <%= interest.interest %>
                        </li>
                        <% }) %>
                </ul>
            </div>
            <div class="research-div">
                <h3 class="subpage-heading">Research Insights</h3>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% var i=0 %>
                            <% data.intro.research_insights.forEach( slide=> { %>
                                <button type="button" data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide-to="<%= i %>" class="carousel-indicator-btns" aria-current="true"
                                    aria-label="Slide <%= i %>"></button>
                                <% i++ %>
                            <% }) %>
                    </div>
                    <div class="carousel-inner">
                        <% data.intro.research_insights.forEach( slide=> { %>
                            <div class="carousel-item some-random-var">
                                <img src="./imgs/research/research_gallery/<%= slide.img_url %>"
                                    class="d-block w-100 slideshow-img" alt="<%= slide.img_caption %>">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>
                                        <%= slide.img_caption %>
                                    </h5>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    </section>
    <details>
        <summary class="research-head-points">Ongoing Work</summary>
        <section class="breadcrumb-ongoing" id="ongoing-work">
            <section class="research-subpage">
                <section class="ongoing-navbar">
                    <div>
                        <% data.ongoing_work.forEach( work=> { %>
                            <a href="#ongoing-<%= work.ongoing_id %>">
                                <%= work.title %>
                            </a>
                            <% }) %>
                    </div>
                </section>
                <section>
                    <% data.ongoing_work.forEach( work=> { %>

                        <div class="ongoing-work-div" id="ongoing-<%= work.ongoing_id %>">
                            <h5>
                                <%= work.title %>
                            </h5>
                            <h6>(Members involved: <%= work.members_involved %>)</h6>
                            <p>
                                <%= work.para_content %>
                            </p>

                            <% work.img_url.forEach( img=> { %>
                                <img src="./imgs/research/ongoing_work/<%= work.ongoing_id %>/<%= img.url %>" alt="">
                                <% }) %>

                        </div>

                    <% }) %>
                </section>

            </section>
        </section>
    </details>

    <details>
        <summary class="research-head-points">Featured Work</summary>
        <section class="breadcrumb-featured" id="featured-work">
            <section class="research-subpage">
                <div class="featured-work-div">
                    <h4>Research Articles</h4>
                    <section>
                        <% data.featured_work.research_articles.forEach( article=> { %>

                            <div class="research-article">
                                <a href="<%= article.article_link %>" target="_blank">
                                    <div class="inside-a-article">
                                        <img src="./imgs/research/featured_work/<%= article.img_url %>"
                                            alt="Article <%= article.article_id %> Preview">
                                        <h5>
                                            <%= article.title %>
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <% }) %>

                </div>
                <div class="featured-work-div">
                    <h4>Book Chapters</h4>

                    <% data.featured_work.book_chapters.forEach( book=> { %>

                        <div class="featured-book">
                            <img src="./imgs/research/featured_work/<%= book.img_url %>" alt="<%= book.description %>">
                            <h5>
                                <%= book.title %>
                            </h5>
                        </div>

                        <% }) %>
                </div>
            </section>
        </section>
    </details>

    <details>
        <summary class="research-head-points">Funding and Collaborators</summary>
        <section class="breadcrumb-funding clear-both" id="funding">
            <section class="research-subpage">
                <div class="funding-div">
                    <h4>Current Projects</h4>

                    <% data.funding_collaboration.funding.current_projects.forEach( project=> { %>

                        <div class="funded-project">
                            <blockquote>
                                <%= project.title %>
                            </blockquote>
                            <p>
                                Funding Agency: <%= project.funding_agency %>
                            </p>
                            <p>
                                Duration: <%= project.duration %>
                            </p>
                            <p>
                                Amount: <%= project.amount %>
                            </p>
                        </div>

                        <% }) %>

                </div>
                <div class="funding-div">
                    <h4>Completed Projects</h4>

                    <% data.funding_collaboration.funding.completed_projects.forEach( project=> { %>

                        <div class="funded-project">
                            <blockquote>
                                <%= project.title %>
                            </blockquote>
                            <p>
                                Funding Agency: <%= project.funding_agency %>
                            </p>
                            <p>
                                Duration: <%= project.duration %>
                            </p>
                            <p>
                                Amount: <%= project.amount %>
                            </p>
                        </div>

                        <% }) %>

                </div>
                <div class="funding-div">
                    <h4>Collaborators</h4>
                    <div class="collab-list">
                        <ul>
                            <% data.funding_collaboration.collaboration.forEach( collab => { %>

                                <li>
                                    <%= collab.collaborator %>
                                </li>

                                <% }) %>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </details>
</section>

<script>
    const firstSlide = document.getElementsByClassName('some-random-var')[0]
    firstSlide.className += " active"

    const firstBtn = document.getElementsByClassName('carousel-indicator-btns')[0]
    firstBtn.className += " active"
</script>
<style>
    .slideshow-img {
        display: block;
        width: 40% !important;
        min-height: 500px;
        padding: 50px;
        margin: auto;
    }

    .carousel-item .active {
        background-color: white !important;
    }

    .carousel-caption h5 {
        width: 70%;
        padding: 10px;
        margin: auto;
        color: black;
        font-size: 2em;
        background-color: lightblue;
        outline: solid black 2px;
    }
</style>