<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./imgs/general/site-icon.png">
    <title>SPP GROUP</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <header>
        <section id="fixed-to-top">
            <div class="brand-div">
                <a href="./">
                    <img src="./imgs/general/logo_Lab.png" alt="Lab Icon">
                    <div>
                        <p>Structure-Property-Processing Group</p>
                        <span>Materials Science Center, Indian Institute of Technology Kharagpur, India</span>
                    </div>
                </a>
            </div>
            <nav class="clear-both">
                <a href="./">Home</a>
                <a href="./members">Members</a>

                <div class="hide-this">
                    <a href="./members.html#Team">Team</a>
                    <a href="./members.html#Alumni">Alumni</a>
                </div>

                <a class="nav-dropdown" href="./research">Research</a>

                <div>
                    <a href="./research.html#ongoing-work">Ongoing Work</a>
                    <a href="./research.html#featured-work">Featured Work</a>
                    <a href="./research.html#funding">Funding and Collaborators</a>
                </div>

                <a href="#" class="active">Facilities</a>
                <a href="./refreshment">Refreshment</a>
                <a href="./contact">Contact</a>
            </nav>
        </section>
        <section class="clear-both non-home-body-top-sec" id="page-heading-sec">
            <h1>Facilities</h1>
        </section>
    </header>
    <section class="facilities-container">

        <h2 class="subpage-heading">Lab facilities</h2>

        <div class="facility">
            <% data[0]['lab'].forEach( facility=> { %>

                <div onclick="showModal(this)" id="lab<%= facility['facility_id'] %>">
                    <figure>
                        <img src="./imgs/facilities/lab/<%= facility['img_url'] %>" alt="<%= facility['name'] %>">
                        <figcaption>
                            <%= facility['name'] %>
                        </figcaption>
                    </figure>
                </div>

                <% }) %>
        </div>

        <% data[0]['lab'].forEach( facility=> { %>

            <section class="modal-box" id="boxlab<%= facility['facility_id'] %>">
                <div class="modal-content facilities-modal">
                    <span class="close" id="closelab<%= facility['facility_id'] %>" onclick="hideModal(this)">
                        <abbr title="Close">
                            &times;
                        </abbr>
                    </span>
                    <figure>
                        <img src="./imgs/facilities/lab/<%= facility['img_url'] %>" alt="<%= facility['name'] %>">
                    </figure>
                    <article>
                        <h4>
                            <%= facility['name'] %>
                        </h4>
                        <p>
                        <ul>
                            <% facility['specifications'].forEach( specification=> { %>
                                <li>
                                    <strong>
                                        <%= specification['heading'] %>
                                    </strong> - <%= specification['detail'] %>
                                </li>
                                <% }) %>
                        </ul>
                        </p>
                    </article>
                    <hr class="clear-both invisible">
                </div>
            </section>
            <% }) %>

    </section>
    <section class="facilities-container clear-both">

        <h2 class="subpage-heading">Departmental facilities</h2>

        <div class="facility">
            <% data[0]['departmental'].forEach( facility=> { %>

                <div onclick="showModal(this)" id="dep<%= facility['facility_id'] %>">
                    <figure>
                        <img src="./imgs/facilities/departmental/<%= facility['img_url'] %>"
                            alt="<%= facility['name'] %>">
                        <figcaption>
                            <%= facility['name'] %>
                        </figcaption>
                    </figure>
                </div>

                <% }) %>
        </div>

        <% data[0]['departmental'].forEach( facility=> { %>

            <section class="modal-box" id="boxdep<%= facility['facility_id'] %>">
                <div class="modal-content facilities-modal">
                    <span class="close" id="closedep<%= facility['facility_id'] %>" onclick="hideModal(this)">
                        <abbr title="Close">
                            &times;
                        </abbr>
                    </span>
                    <figure>
                        <img src="./imgs/facilities/departmental/<%= facility['img_url'] %>"
                            alt="<%= facility['name'] %>">
                    </figure>
                    <article>
                        <h4>
                            <%= facility['name'] %>
                        </h4>
                        <p>
                        <ul>
                            <% facility['specifications'].forEach( specification=> { %>
                                <li>
                                    <strong>
                                        <%= specification['heading'] %>
                                    </strong> - <%= specification['detail'] %>
                                </li>
                            <% }) %>
                        </ul>
                        </p>
                    </article>
                    <hr class="clear-both invisible">
                </div>
            </section>
        <% }) %>

    </section>

    <footer class="clear-both">
        &copy; 2021 by SPP GROUP
    </footer>
    <script>
        // function for showing and hiding modal class in facilities page

        function showModal(div) {
            var id = div.id;
            var modal = document.getElementById("box" + id);
            modal.style.display = "block";
        }

        function hideModal(btn) {
            var id = btn.id;
            var modal = document.getElementById("box" + id.slice(-5));
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target.id.substr(0, 3) === "box") {
                event.target.style.display = "none";
            }
        }

    </script>
</body>

</html>