<header>
    <section id="fixed-to-top">
        <%- include('../partials/_top_msg') %>
            <%- include('../partials/_navbar') %>
    </section>
    <section class="clear-both non-home-body-top-sec" id="page-heading-sec">
        <h1 id="page-heading">Facilities</h1>
    </section>
</header>
<section class="facilities-container">

    <h2 class="subpage-heading">Lab facilities</h2>
    <section class="facilities-subcontainer">
        <% data.facilities.forEach( group=> { %>
            <details class="clear-both">
                <summary class="facility-types">
                    <%= group.type %>
                </summary>

                <div class="facility-grid">
                    <% group.facilities.forEach( facility=> { %>

                        <div onclick="showModal(this)" id="<%= group.index %>/<%= facility.facility_id %>">
                            <figure>
                                <img src="./imgs/facilities/<%= group.index %>/<%= facility.img_url %>"
                                    alt="<%= facility.name %>">
                                <figcaption>
                                    <%= facility.name %>
                                </figcaption>
                            </figure>
                        </div>

                        <% }) %>
                </div>
                <% group.facilities.forEach( facility=> { %>

                    <section class="modal-box" id="box<%= group.index %>/<%= facility.facility_id %>">
                        <div class="modal-content facilities-modal">
                            <span class="close close-facility-btn"
                                id="close<%= group.index %>/<%= facility.facility_id %>" onclick="hideModal(this)">
                                <abbr title="Close">
                                    &times;
                                </abbr>
                            </span>
                            <div>
                                <figure>
                                    <img src="./imgs/facilities/<%= group.index %>/<%= facility.img_url %>"
                                        alt="<%= facility.name %>">
                                </figure>
                                <article>
                                    <h4>
                                        <%= facility.name %>
                                    </h4>
                                    <p>
                                    <ul>
                                        <% facility.specifications.forEach( specification=> { %>
                                            <li>
                                                <strong>
                                                    <%= specification.heading %>
                                                </strong> - <%= specification.detail %>
                                            </li>
                                            <% }) %>
                                    </ul>
                                    </p>
                                </article>
                            </div>
                            <hr class="clear-both invisible">
                        </div>
                    </section>
                <% }) %>
            </details>
            <% }) %>
    </section>

</section>
<section class="facilities-container clear-both">

    <h2 class="subpage-heading">Softwares</h2>

    <div class="softwares">
        <ol>
            <% data.softwares.forEach( software=> { %>
                <li>
                    <%= software.name %>
                </li>
                <% }) %>
        </ol>
    </div>
</section>

<script>
    // function for showing and hiding modal class in facilities page

    function showModal(div) {
        var id = div.id;
        var modal = document.getElementById("box" + id);
        modal.style.display = "block";
    }

    function hideModal(btn) {
        var id = btn.id;
        var modal = document.getElementById("box" + id.slice(-4));
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target.id.substr(0, 3) === "box") {
            event.target.style.display = "none";
        }
    }

</script>
<style>
    /* # The Rotating Marker # */
    details summary::-webkit-details-marker {
        display: none;
    }

    summary::before {
        font-family: "Hiragino Mincho ProN", "Open Sans", sans-serif;
        content: "▶";
        position: absolute;
        left: 0;
        transform: rotate(0);
        transform-origin: center;
        transition: 0.2s transform ease;
    }

    details[open]>summary:before {
        transform: rotate(90deg);
        transition: 0.45s transform ease;
    }
</style>